<div style="display: flex; gap: 16px;">
  <mat-card *ngFor="let movie of movies; let i=index;" style="flex: 1 1 auto;" class="movie-card">
    <mat-grid-list cols="10">
      <mat-card-header>  
        <mat-card-title
        style="margin-bottom: 10px;"
        >
        {{movie.Title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-subtitle><img src={{movie.ImagePath}} class="movie-image"/></mat-card-subtitle>
      <mat-card-actions>
        <button
          mat-button
          (click)="openGenreInfoDialog(movie.Genre.Name, movie.Genre.Description)"
          color="primary"
          class="sub-button"
        >
        Genre
        </button>
        <button
          mat-button
          (click)="openDirectorInfoDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)"
          color="primary"
          class="sub-button"
        >
        Director
        </button>
        <button
          mat-button
          (click)="openMovieSnapshotDialog(movie.Title, movie.Description)"
          color="primary"
          class="sub-button"
        >
        Summary
        </button>
        <button
          mat-button
          matTooltip="Add Movie to Your Favorites"
          (click)="addFavoriteMovies(movie.Title)"
        >
          <mat-icon>favorite_border</mat-icon>
        </button>        
      </mat-card-actions>
    </mat-grid-list>
  </mat-card>

</div>
