.movie-card {
    flex: 1 1 calc(20% - 16px);
    box-sizing: border-box;
    margin: 8px;
    background-color:#D9D9D9;
  }
  
  .movie-image {
      width: 100%;
      margin-top: 4px;
      height: 400px;
      object-fit: cover;
  }

 