<div style="display: flex;  gap: 16px;">
  <mat-card *ngFor="let movie of movies; let i=index;" style="flex: 1 1 auto;" class="movie-card">
    <mat-grid-list cols="10">
      <mat-card-header>  
        <mat-card-title>{{movie.Title}}</mat-card-title>
          <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-subtitle><img src={{movie.ImagePath}} class="movie-image"/></mat-card-subtitle>
      <mat-card-actions>
        <button
          mat-button
          color="primary"
        >
        Genre
        </button>
        <button
          mat-button
          color="primary"
        >
        Director
        </button>
        <button
          mat-button
          color="primary"
        >
        Summary
        </button>
        <mat-icon>favorite_border</mat-icon>
      </mat-card-actions>
    </mat-grid-list>
  </mat-card>

</div>
