.movie-card {
    flex: 1 1 calc(20% - 16px);
    box-sizing: border-box;
    margin: 8px;
    background-color:#D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .movie-image {
    width: 90%;
    margin: auto;
    height: 400px; 
    display: block;

  }

 