<div class="profile-view">
  <app-navigation-bar></app-navigation-bar>
  <h1
  style="margin-left: 15px;"
  >
    Welcome, {{ userData.Username }}!
  </h1>
  <h3
  style="margin-left: 15px;"
  >
    Your Favorite Movie List:
  </h3>
  <div style="margin-left: 15px;">
    <div *ngIf="favorites.length > 0" class="card-layout">
      <app-movie-card *ngFor="let movie of favorites; let i=index;" [movie]="movie" class="movie-layout"></app-movie-card>
    </div>
    <p *ngIf="favorites.length === 0">Add a Favorite Movie!</p>
  </div>
  <button
  mat-raised-button
  (click)="openUpdateUserDialog()"
  class="button-style-one"
  color="primary"
  >
  Update
  </button>
  <button
    mat-raised-button
    class="button-style-two"
    color="primary"
    (click)="deleteUser()"
  >
  Delete
  </button>
  
</div>
