<div class="profile-view">
  <app-navigation-bar></app-navigation-bar> <!-- Assuming you have a navigation bar component -->
  <h1
  style="margin-left: 15px;"
  >
    Welcome (INSERT USERNAME)!
  </h1>
  <h3
  style="margin-left: 15px;"
  >
    Your Favorite Movie List:
  </h3>
  <h3>
    Movie Cards will display here
  </h3>
  <button
  mat-raised-button
  style="margin-right: 10px; margin-left: 15px;"
  color="primary"
  >
  Update
  </button>
  <button
    mat-raised-button
    style="margin-right: 10px;"
    color="primary"
  >
  Delete
  </button>
  
</div>
