<div class="profile-view">
  <app-navigation-bar></app-navigation-bar> <!-- Assuming you have a navigation bar component -->
  <h1
  style="margin-left: 15px;"
  >
    Welcome, {{ userData.Username }}!
  </h1>
  <h3
  style="margin-left: 15px;"
  >
    Your Favorite Movie List:
  </h3>
  <h3
  style="margin-left: 15px;"
  >
  <app-movie-card ></app-movie-card>
  </h3>
  <button
  mat-raised-button
  (click)="openUpdateUserDialog()"
  style="margin-right: 10px; margin-left: 15px;"
  color="primary"
  >
  Update
  </button>
  <button
    mat-raised-button
    style="margin-right: 10px;"
    color="primary"
    (click)="deleteUser()"
  >
  Delete
  </button>
  
</div>
